body {
    background-color: white;
}
.title {
    text-align: right;
    font-size: 80px;
    font-weight: 450;
    font-family: Impact, Haettenschweiler,'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px black;
    /* border: 2px solid green; */
    color: #19a590;
    line-height: 280px;
    background: url("./titile-background.jpg");
    background-size: 100% 100%;
    border:5px solid black;
    
/*
    background-size: contain;
    background-repeat: no-repeat;
*/
    cursor: pointer;
    /* display: inline; */
    /* animation: text-resize infinite 1s; */
}
.desc{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    font-family: Impact, fantasy;
    font-size: 20px;
    text-align: center;
}
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 5% 2%; */
}
.main-img{
    border: 5px solid black;
}
.side-img {
    padding: 5px 20px 5px;
    /* border: 1px solid transparent; */
    opacity: 0.5;
    height: 150px;
    width: 280px;
    /* transition: all 100ms; */
}
.side-img:hover{
    opacity: 1;
    /* border: 1px solid rgb(105, 101, 101); */
    height: 160px;
    width: 295px;
    /* padding: 5px 5px 5px; */

}
/* .side-img.size{
    height: 150px;
    width: 280px;
} */
.wrapper{
    text-align: center;
}
