@import url("https://fonts.googleapis.com/css2?family=Gayathri&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gayathri", sans-serif;
}

body {
    background-color: black;
}

h1 {
    color: #eee;
}

.title {
    font-size: 50px;
    font-weight: 500;
    border: 2px solid green;
    color: #127365;
    line-height: 300px;
    background: url("./random.jpg");
    background-size: cover;
/*
    background-size: contain;
    background-repeat: no-repeat;
*/
    cursor: pointer;
    /* display: inline; */
    /* animation: text-resize infinite 1s; */
}

.title:hover {
    color: #543241;
}

.title::after {
    content: "124646544";
    color: lightgreen;
}

.title:hover::after {
    color: rgb(79, 126, 78);
}

.title::before {
    content: "";
    border: 2px solid rgb(25, 24, 119);
    margin: 0 5px;
}

#showcase {
    margin: 500px auto;
    background: rgb(31, 161, 48);
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    /* flex-direction: row;*/
    align-items: center;
    justify-content: center;
    position: relative;
    /* justify-content: flex-start; */
    /* align-items: flex-end; */
    /* flex-wrap: wrap; */
    background: url("download.jpeg"); 
    background-size: cover; /* certain px,percenatge , cover, contain*/
    background-attachment: fixed; /*fixed,local,scroll*/ 
    background-position: center;
    flex-wrap: wrap;
    /* filter: blur(3px);  make the whole pic blured*/ 
    animation: shake 3s infinite;
}

.item {
    width: 40px;
    height: 40px;
    /* height: 100%; */
    /* width: 2vw; */
    /* height: 100vh; */
    background-color: darkorchid;
    border: deeppink 3px solid;
    display: flex;
    /* place-items: center;
  place-content: center; */
    justify-content: center;
    align-items: center;
    /* justify-self: flex-end;  */
    /* align-self: center; */
    color: #eee;
    /* text-align: center;
  vertical-align: middle;
  line-height: 100%; */
    /* display: inline; */
    margin: 5px;
    /* padding: 60px 50px 40px 30px; */
    padding: 30px;
    /* padding: 30%; */
    /* padding: 60px 30px; */
    /* padding-left: 30px; */
    /* padding-right: 30px; */
    /* transition: transform .2s, background 10s; */
    transition: all 2s ease;
}

.item:hover {
    transform: scaleY(1.3);
    background: darkmagenta;
}

.item:nth-child(even) {
    background: indianred;
    /* transform: rotate(-45deg); */
}

.item:nth-child(odd) {
    /* transform: rotate(45deg); */
}

.ninja {
    background: gray;
    border: 3px solid darkslategray;
    color: white;
    /* position: fixed;  relative to the viewport */
    /* position: absolute; not affected by any other elements, only affected by relative element */
    position: fixed;
/*    top: 50px;
    bottom: 50px; */
     top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    /* ^^^ universal way of centering */
}

#scroll {
    background: white;
    width: 300px;
    height: 300px;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow: auto;
}

/* #scroll > p { */
#scroll p {
    background: transparent;
}

#tallguy {
    background: darkgrey;
    height: 100vh;
    width: 20px;
}

#myguy,
#mybutt {
    margin: 100px auto;
    display: block;
}

#myguy {
    width: 300px;
    height: 50px;
    padding: 0 10px;
    font-size: 2em;
}

#mybutt {
    width: 200px;
    height: 200px;
    border: 20px solid silver;
    border-radius: 50%;
    cursor: pointer;
}

#mybutt:hover {
    background: gold;
}

#mybutt:active {
    background: crimson;
    filter: hue-rotate(30deg);
}

#mybutt:focus {
    /* outline: none; */
    outline: 30px blue solid;
}

#myguy:focus {
    outline: 10px solid blue;
}

#game {
    display: flex;
    flex-direction: column; 
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border: 10px solid white;
    margin: calc((100vh - 500px) / 2) auto;
    border-radius: 20px;
    transition: border-color 0.2s ease;
}

#game:hover {
    border-color: beige;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    width: 50px;
    height: 50px;
    background: green;
    border: solid 2px rgb(44, 190, 0);
    margin: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 2s ease;
    cursor: pointer;
    border-radius: 50%; /* circle */
}

.cell:hover {
    box-shadow: 0 0 6px 3px #fff, /* inner white */ 0 0 10px 6px #f0f,
        /* middle magenta */ 0 0 14px 9px #0ff; /* outer cyan */
}

@keyframes text-resize {
    0% {
        font-size: 50px;
    }

    50% {
        font-size: 80px;
    }

    70% {
        font-size: 20px;
    }

    100% {
        font-size: 50px;
    }
}

@keyframes shake {
    40% {
        transform: rotate(0deg);
    }

    45% {
        transform: rotate(-5deg);
    }

    55% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(0deg);
    }
}

#album {
    width: 550px;
    height: 550px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: calc(50vh - 225px) auto;
}

#titles {
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#titles h1 {
    font-size: 2rem;
    font-weight: 300;
    vertical-align: middle;
}

#titles p {
    font-size: 0.8rem;
    color: #eee;
}

#figure {
    position: relative;
    width: 450px;
    height: 450px;
    margin-bottom: 10px;
}

#figure > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    filter: blur(3px);
}

#layer1 {
    width: 90%;
    height: 90%;
    background-color: #225591;
}

#layer2 {
    width: 80%;
    height: 80%;
    background-color: black;
}

#layer3 {
    width: 75%;
    height: 75%;
    background-color: #4fa1b4;
    filter: blur(1px) !important;
}

#layer4 {
    width: 72%;
    height: 72%;
    background-color: black;
    filter: blur(1px) !important;
}

#layer5 {
    width: 68%;
    height: 68%;
    background-color: #1e4125;
}

#layer6 {
    width: 60%;
    height: 60%;
    background-color: black;
}

#layer7 {
    width: 45%;
    height: 45%;
    background-color: #464241;
}

#layer8 {
    width: 36%;
    height: 36%;
    background-color: black;
}

#layer9 {
    width: 32%;
    height: 32%;
    background-color: #814a2c;
}

#layer10 {
    width: 23%;
    height: 23%;
    background-color: black;
}

#layer11 {
    width: 15%;
    height: 15%;
    background-color: #e64a20;
    filter: blur(1px) !important;
}
